<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true"/>
  </configSections>
  <dataConfiguration defaultDatabase="SmartAPIAdapterCore"/>
  <!--数据库连接配置-->
  <connectionStrings>
    <add name="SmartAPIAdapterCore" connectionString="Data Source=.;Initial Catalog=JDPark;Persist Security Info=True;User ID=Sa;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--当前应用程序名称-->
    <add key="ApplicationName" value="Smart.API.Adapter.Api"/>

    <!--API 日志记录类型，0不记录，1记录文本-->
    <add key="LogType" value="0"/>

    <!--
      配置API访问控制(不配置默认启用)
      webapi:SignEnabled 配置是否启用请求参数签名校验。默认true。
      webapi:RightsEnabled 配置是否启用接口访问权限校验。默认false。
      webapi:FrequencyEnabled 配置是否启用接口访问频率校验。默认false。 
    -->
    <add key="webapi:SignEnabled" value="false"/>
    <add key="webapi:RightsEnabled" value="false"/>
    <add key="webapi:FrequencyEnabled" value="false"/>
    

    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

	  <!--京东-->
	  <add key="Version" value="001"/>
    <add key="BaseAddressJd" value="http://test-spl.jd.com/"/>
    <!--京东车场Code-->
    <add key="ParkLotCode" value="ZB01"/>
    <!--京东接口token-->
    <add key="Token" value="eef0af06b4740b5c6aa6fdb40edb2353"/>
    <!--京东定义的客户端系统编码-->
    <add key="SysId" value="1"/>
	  
	  
	  <add key="BaseAddressJS" value="http://localhost:8091/api/"/>
    <!--推送设备状态信息失败次数超过5次后，发送邮件 -->
    <add key="PostEquipmentStatusCount" value="5"/>

    <!--请求超时时间设置，单位秒 -->
    <add key="PostTimeOut" value="3"/>


    <!--请求超时时间设置，单位秒 -->
    <add key="EmailSMTP" value="smtp.qq.com"/>

    <!--请求超时时间设置，单位秒 -->
    <add key="EmailPort" value="587"/>


    <!--请求超时时间设置，单位秒 -->
    <add key="EmailUserName" value="915098904@qq.com"/>

    <!--请求超时时间设置，单位秒 -->
    <add key="EmailPassword" value="gtgunnxjlespbfai"/>

    <!--请求超时时间设置，单位秒 -->
    <add key="EmailSSL" value="true"/>
    <!--请求超时时间设置，单位秒 -->
    <add key="EmailTo" value="915098904@qq.com"/>

    <!--请求计费错误，默认返回码 -->
    <add key="ThirdChargingFailCode" value="1"/>

    <!--请求计费错误，默认返回开闸标识 -->
    <add key="ThirdChargingIsOpenGate" value="0"/>
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>