<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<!--数据库连接配置-->
	<appSettings>
		<!--当前应用程序名称-->
		<add key="ApplicationName" value="Smart.API.Adapter.Api"/>
		<!--日志默认路径-->
		<add key="DefaultLogPath" value="C:\Smart.API.AdapterLog"/>


		<add key="JdParkXml" value="/Config/ParkVersion.xml"/>
		<add key="HeartInterval" value="5000"/>
		<!--京东-->
		<add key="BaseAddressJd" value="http://test-spl.jd.com/External/"/>
		<add key="ParkLotCode" value="ZB01"/>
		<add key="Version" value="0"/>
		<add key="Token" value="eef0af06b4740b5c6aa6fdb40edb2353"/>
		<add key="SysId" value="1"/>

		<add key="EmailTo1" value="liziki@qq.com"/>
		<add key="EmailFrom" value="liziki@qq.com"/>

		<add key="BaseAddressJS" value="http://localhost:60411/api/"/>
	</appSettings>

	<connectionStrings>
		<add name="SmartAPIAdapterCore" connectionString="Data Source=.;Initial Catalog=JDPark;Persist Security Info=True;User ID=Sa;Password=123456" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>