<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<!--数据库连接配置-->
	<appSettings>
		<!--当前应用程序名称-->
		<add key="ApplicationName" value="Smart.API.Adapter.Api"/>
		<!--日志默认路径-->
		<add key="DefaultLogPath" value="C:\Smart.API.AdapterLog"/>

		<!--xml地址：存储当前白名单版本和停车场还可进入车辆数-->
		<add key="JdParkXml" value="/Config/ParkVersion.xml"/>
		<!--捷顺接口地址-->
		<add key="BaseAddressJS" value="http://localhost:60411/api/"/>
		<!--心跳检测间隔时间5s-->
		<add key="HeartInterval" value="5000"/>
		<!--京东-->
		<!--<add key="BaseAddressJd" value="http://localhost:60411/api/External/"/>-->
		<add key="BaseAddressJd" value="http://test-spl.jd.com/"/>
		<!--<add key="BaseAddressJd" value="http://localhost:6448/api/test/"/>-->
		<!--京东车场Code-->
		<add key="ParkLotCode" value="ZB01"/>
		<!--京东接口token-->
		<add key="Token" value="eef0af06b4740b5c6aa6fdb40edb2353"/>
		<!--京东定义的客户端系统编码-->
		<add key="SysId" value="1"/>
		
		<!--推送设备状态信息失败次数超过5次后，发送邮件 -->
		<add key="PostEquipmentStatusCount" value="5"/>

		<!--请求超时时间设置，单位秒 -->
		<add key="PostTimeOut" value="3"/>

		<!--EmailSMTP -->
		<add key="EmailSMTP" value="smtp.qq.com"/>

		<!--EmailPort -->
		<add key="EmailPort" value="587"/>
		<!--EmailUserName -->
		<add key="EmailUserName" value="915098904@qq.com"/>

		<!--EmailPassword -->
		<add key="EmailPassword" value="gtgunnxjlespbfai"/>

		<!--EmailSSL -->
		<add key="EmailSSL" value="true"/>
		<!--EmailTo -->
		<add key="EmailTo" value="liziki@qq.com"/>
	</appSettings>

	<connectionStrings>
		<!--<add name="SmartAPIAdapterCore" connectionString="Data Source=TI8QSVK9ZA8JLLK;Initial Catalog=JDPark;Persist Security Info=True;User ID=Sa;Password=123456" providerName="System.Data.SqlClient"/>-->
		<add name="SmartAPIAdapterCore" connectionString="Data Source=.;Initial Catalog=JDPark;Persist Security Info=True;User ID=Sa;Password=123456" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>