<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://dev.crm.xiaoniu66.com</MSDeployServiceURL>
    <DeployIisAppPath>CRMApi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DevCRM_MSCRM" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.18.1.115;Initial Catalog=DevCRM_MSCRM;Persist Security Info=True;User ID=Sa;Password=Pa$$w0rd" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DevCRM_MSCRM_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.18.1.115;Initial Catalog=DevCRM_MSCRM;Persist Security Info=True;User ID=Sa;Password=Pa$$w0rd" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CRMTask" Order="2" Enabled="False">
          <Destination Path="Data Source=10.18.1.115;Initial Catalog=Smart.API.AdapterTask;Persist Security Info=True;User ID=Sa;Password=Pa$$w0rd" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.18.1.115;Initial Catalog=Smart.API.AdapterTask;Persist Security Info=True;User ID=Sa;Password=Pa$$w0rd" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CRMTask_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.18.1.115;Initial Catalog=Smart.API.AdapterTask;Persist Security Info=True;User ID=Sa;Password=Pa$$w0rd" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="CRMLog" Order="3" Enabled="False">
          <Destination Path="Data Source=10.18.1.115;Initial Catalog=Smart.API.AdapterLog;Persist Security Info=True;User ID=Sa;Password=Pa$$w0rd" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=10.18.1.115;Initial Catalog=Smart.API.AdapterLog;Persist Security Info=True;User ID=Sa;Password=Pa$$w0rd" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CRMLog_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=10.18.1.115;Initial Catalog=Smart.API.AdapterLog;Persist Security Info=True;User ID=Sa;Password=Pa$$w0rd" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CRMLog-Web.config Connection String">
      <ParameterValue>Data Source=10.18.1.115;Initial Catalog=Smart.API.AdapterLog;Persist Security Info=True;User ID=Sa;Password=Pa$$w0rd</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CRMTask-Web.config Connection String">
      <ParameterValue>Data Source=10.18.1.115;Initial Catalog=Smart.API.AdapterTask;Persist Security Info=True;User ID=Sa;Password=Pa$$w0rd</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DevCRM_MSCRM-Web.config Connection String" />
  </ItemGroup>
</Project>